# .NET Core
obj/
bin/
*.log
*.tmp
*.bak

# VS Code
.vscode/

# Unity (if applicable)
Assets/
Temp/

# Misc
*.user
*.csproj.user
*.vspscc

UrlShortener/bin/Debug/net10.0/appsettings.Development.json
UrlShortener/bin/Debug/net10.0/appsettings.json
UrlShortener/bin/Debug/net10.0/Azure.Core.dll
UrlShortener/bin/Debug/net10.0/Azure.Identity.dll
UrlShortener/bin/Debug/net10.0/Humanizer.dll
UrlShortener/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Build.Framework.dll
UrlShortener/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
UrlShortener/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
UrlShortener/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
UrlShortener/bin/Debug/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
UrlShortener/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
UrlShortener/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Data.SqlClient.dll
UrlShortener/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
UrlShortener/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
UrlShortener/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
UrlShortener/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
UrlShortener/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.SqlServer.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Identity.Client.Broker.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Identity.Client.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Identity.Client.Extensions.Msal.dll
UrlShortener/bin/Debug/net10.0/Microsoft.Identity.Client.NativeInterop.dll
UrlShortener/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
UrlShortener/bin/Debug/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
UrlShortener/bin/Debug/net10.0/Microsoft.IdentityModel.Logging.dll
UrlShortener/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.dll
UrlShortener/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
UrlShortener/bin/Debug/net10.0/Microsoft.IdentityModel.Tokens.dll
UrlShortener/bin/Debug/net10.0/Microsoft.OpenApi.dll
UrlShortener/bin/Debug/net10.0/Microsoft.SqlServer.Server.dll
UrlShortener/bin/Debug/net10.0/Microsoft.VisualStudio.SolutionPersistence.dll
UrlShortener/bin/Debug/net10.0/Mono.TextTemplating.dll
UrlShortener/bin/Debug/net10.0/Newtonsoft.Json.dll
UrlShortener/bin/Debug/net10.0/System.ClientModel.dll
UrlShortener/bin/Debug/net10.0/System.CodeDom.dll
UrlShortener/bin/Debug/net10.0/System.Composition.AttributedModel.dll
UrlShortener/bin/Debug/net10.0/System.Composition.Convention.dll
UrlShortener/bin/Debug/net10.0/System.Composition.Hosting.dll
UrlShortener/bin/Debug/net10.0/System.Composition.Runtime.dll
UrlShortener/bin/Debug/net10.0/System.Composition.TypedParts.dll
UrlShortener/bin/Debug/net10.0/System.Configuration.ConfigurationManager.dll
UrlShortener/bin/Debug/net10.0/System.IdentityModel.Tokens.Jwt.dll
UrlShortener/bin/Debug/net10.0/System.Memory.Data.dll
UrlShortener/bin/Debug/net10.0/System.Security.Cryptography.ProtectedData.dll
UrlShortener/bin/Debug/net10.0/UrlShortener
UrlShortener/bin/Debug/net10.0/UrlShortener.deps.json
UrlShortener/bin/Debug/net10.0/UrlShortener.dll
UrlShortener/bin/Debug/net10.0/UrlShortener.pdb
UrlShortener/bin/Debug/net10.0/UrlShortener.runtimeconfig.json
UrlShortener/bin/Debug/net10.0/UrlShortener.staticwebassets.endpoints.json
UrlShortener/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/cs/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/de/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/es/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/fr/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/it/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/ja/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/ko/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/pl/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/pt-BR/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/ru/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/runtimes/linux-x64/native/libmsalruntime.so
UrlShortener/bin/Debug/net10.0/runtimes/osx-arm64/native/msalruntime_arm64.dylib
UrlShortener/bin/Debug/net10.0/runtimes/osx-x64/native/msalruntime.dylib
UrlShortener/bin/Debug/net10.0/runtimes/unix/lib/net9.0/Microsoft.Data.SqlClient.dll
UrlShortener/bin/Debug/net10.0/runtimes/win/lib/net9.0/Microsoft.Data.SqlClient.dll
UrlShortener/bin/Debug/net10.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
UrlShortener/bin/Debug/net10.0/runtimes/win-arm64/native/msalruntime_arm64.dll
UrlShortener/bin/Debug/net10.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
UrlShortener/bin/Debug/net10.0/runtimes/win-x64/native/msalruntime.dll
UrlShortener/bin/Debug/net10.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
UrlShortener/bin/Debug/net10.0/runtimes/win-x86/native/msalruntime_x86.dll
UrlShortener/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/tr/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hans/Microsoft.Data.SqlClient.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
UrlShortener/bin/Debug/net10.0/zh-Hant/Microsoft.Data.SqlClient.resources.dll
UrlShortener/obj/Debug/net10.0/apphost
UrlShortener/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
UrlShortener/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
UrlShortener/obj/Debug/net10.0/rpswa.dswa.cache.json
UrlShortener/obj/Debug/net10.0/staticwebassets.build.endpoints.json
UrlShortener/obj/Debug/net10.0/staticwebassets.build.json
UrlShortener/obj/Debug/net10.0/staticwebassets.build.json.cache
UrlShortener/obj/Debug/net10.0/swae.build.ex.cache
UrlShortener/obj/Debug/net10.0/UrlShort.46B0166A.Up2Date
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfo.cs
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfoInputs.cache
UrlShortener/obj/Debug/net10.0/UrlShortener.csproj.CoreCompileInputs.cache
UrlShortener/obj/Debug/net10.0/UrlShortener.csproj.FileListAbsolute.txt
UrlShortener/obj/Debug/net10.0/UrlShortener.dll
UrlShortener/obj/Debug/net10.0/UrlShortener.genruntimeconfig.cache
UrlShortener/obj/Debug/net10.0/UrlShortener.MvcApplicationPartsAssemblyInfo.cache
UrlShortener/obj/Debug/net10.0/UrlShortener.MvcApplicationPartsAssemblyInfo.cs
UrlShortener/obj/Debug/net10.0/UrlShortener.pdb
UrlShortener/obj/Debug/net10.0/UrlShortener.sourcelink.json
UrlShortener/obj/Debug/net10.0/ref/UrlShortener.dll
UrlShortener/obj/Debug/net10.0/refint/UrlShortener.dll
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfoInputs.cache
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfo.cs
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfo.cs
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfoInputs.cache
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfo.cs
UrlShortener/obj/Debug/net10.0/UrlShortener.AssemblyInfoInputs.cache
